/.idea/compiler.xml
/.idea/libraries/Maven__antlr_antlr_2_7_7.xml
/.idea/libraries/Maven__com_fasterxml_classmate_1_5_1.xml
/.idea/libraries/Maven__com_google_protobuf_protobuf_java_3_21_9.xml
/.idea/libraries/Maven__com_mysql_mysql_connector_j_8_0_33.xml
/.idea/libraries/Maven__com_sun_istack_istack_commons_runtime_3_0_7.xml
/.idea/libraries/Maven__com_sun_xml_fastinfoset_FastInfoset_1_2_15.xml
/.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
/.idea/libraries/Maven__javax_persistence_javax_persistence_api_2_2.xml
/.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
/.idea/libraries/Maven__junit_junit_4_13_2.xml
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_11_20.xml
/.idea/libraries/Maven__org_glassfish_jaxb_jaxb_runtime_2_3_1.xml
/.idea/libraries/Maven__org_glassfish_jaxb_txw2_2_3_1.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_1_2_Final.xml
/.idea/libraries/Maven__org_hibernate_hibernate_core_5_6_3_Final.xml
/.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_2_Final.xml
/.idea/libraries/Maven__org_jboss_jandex_2_2_3_Final.xml
/.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_4_2_Final.xml
/.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_1_1_Final.xml
/.idea/libraries/Maven__org_jvnet_staxex_stax_ex_1_8.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2024_19_25_[Changes]/shelved.patch
/TaskJDBC.iml
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2024_19_25__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_15_01_2024_19_25_[Changes]/shelved.patch
